<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>{{ page_title }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <script>
      window.ShopifyAssetsUrl = "{{ 'bundle.js' | asset_url | split: 'bundle.js' | first }}";
    </script>

    {{ content_for_header }}

    {{ 'bundle.css' | asset_url | stylesheet_tag }}
  </head>

  <body class="gradient">
    <div id="root"></div>

    {{ content_for_layout }}

    <script src="{{ 'bundle.js' | asset_url }}" defer="defer"></script>
  </body>
</html>
